*.iml
.gradle
/local.properties
# IntelliJ IDEA
/.idea
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
# Kotlin
.kotlin
# Android Studio
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
